BOT_TOKEN="your_discord_bot_token"
DB_DSN="postgres://user:pass@localhost:5432/poe_herald"
CLIENT_ID="poe_oauth_client_id"
CLIENT_SECRET="poe_oauth_client_secret"
REDIRECT_URI="http://url.com/oauth/callback"
COHERE_API_KEY=123456